.post {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	position: relative;
}
.icon {
	width: 42px;
	height: 42px;
}
.btnRemove {
	opacity: 0;
}
.btnRemove::after {
	position: absolute;
	content: '';
	inset: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
